extends layout

block stylesheets
  link(rel="stylesheet", href="/dist/deps#{min}.css")
  link(rel="stylesheet", href="/dist/main#{min}.css")

block scriptshead
  script(src="/dist/vendor#{min}.js")

block content
  div#app #{html}

block scripts
  script(src="/dist/deps#{min}.js")
  script(src="/dist/bundle#{min}.js")
  script(src="/dist/main#{min}.js")
